body{
    margin:0px;
}

header{
    background-color: #7F052A;
    margin-bottom: 2rem;
    position: sticky;
    top: 0px;
}

header img{
    max-width: 200px;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

nav a{
    color:antiquewhite;
    font-family: 'Sofia Sans', sans-serif;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-color: antiquewhite;
}

.respmenu{
    display: none;
}

@media (max-width:768px) {
    #menunormal{
        display: none;
    }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 7px;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
      }

      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 48px;
        pointer-events: none;
      }
      
      .respmenu input[type="checkbox"] {
        opacity: 0;
      }

      .respmenu ul{
        list-style: none;
      }
      
      .respmenu {
        color: antiquewhite;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #7F052A;
        min-height: 48px;
        padding: 0.5rem;
      }
      .respmenu img{
        width: 8rem;
      }
      
      .respmenu nav {
        display: none;
      }
      
      .respmenu input:checked ~ nav {
        display: block;
      }
      
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }

    .respmenu a{
        color: antiquewhite;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid antiquewhite;
        max-width: 200px;
        background-color: #7F052A;
        font-family: 'Sofia Sans', sans-serif;
    }
}

h1,h2{
    text-align: center;
    color: #7F052A;
    margin:0.67em;
    font-family: 'Sofia Sans', sans-serif;
}

#promociones{
    width: 65%;
    margin:3rem auto;
    display: flex;
    flex-direction: column;
}

#promociones img{
    max-width: 100%;
}

@media (max-width:768px){
    #promociones{
        width: 90%;
        height: 40vh;
        text-align: center;
    }

    #promociones img{
        height: 20vh;
    }
}

#productos{
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(3,32%);
    grid-gap: 1.5rem;
    width: 65%;
    margin: 3rem auto;
    object-fit: cover;
}

#productos img{
    width: 100%;
    max-height: 100%;
}

@media (max-width:768px){
    #productos{
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(9,11%);
        grid-gap: 1rem;
        width: 80%;
        text-align: center;
    }
}

#notisdestacadas{
    width: 65%;
    margin: 2rem auto;
}
#notisdestacadas >:first-child{
    background:url(https://www.nosolorol.com/themes/nth_themanier/css/../img/ornamento-titulo-04.png) bottom right no-repeat;
}
#notisdestacadas>:last-child{
    display: flex;
    justify-content: space-between;
}

#Nod{
    background-image: url(https://www.nosolorol.com/img/nbp/2/4/3/4/2434-small.jpg);
    background-size: cover;
}

.escondido,.escondido2,.escondido3{
    margin-top: 9.8rem;
    background-color: rgba(00,00,00,0.75);
    display: block;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

#Nod>div{
    background-color: rgba(00,00,00,0.75);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transform: translate3d(0,165px,0);
    color: white;
}

#Guaridas>div{
    background-color: rgba(00,00,00,0.75);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transform: translate3d(0,165px,0);
    color: white;
}

#Detectives>div{
    background-color: rgba(00,00,00,0.75);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transform: translate3d(0,165px,0);
    color: white;
}

[data-aos^=fade][data-aos^=fade]{
    opacity: 0;
}

[data-aos=fade-up]{
    transform: translate3d(0,85px,0) !important;
}

[data-aos=fade-down]{
    transform: translate3d(0,10px,0);
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

.escondido3 a{
    width: 100%;
}

#Guaridas{
    background-image: url(https://www.nosolorol.com/img/nbp/2/4/2/7/2427-list.jpg);
    background-size: cover;
}

#Detectives{
    background-image: url(https://www.nosolorol.com/img/nbp/2/3/1/6/2316-list.jpg);
    background-size: cover;
}

#Nod,#Guaridas,#Detectives{
    width: 30%;
    height: 13rem;
}

@media(max-width:995px){
    #notisdestacadas{
        width: 80%;
    }
    #notisdestacadas>:last-child{
        flex-wrap: wrap;
    }
    #Nod,#Guaridas,#Detectives{
        width: 45%;
        height: 13rem;
        margin: 1rem auto;
    }

    #catedestacadas{
        width: 80%;
    }

    #catedestacadas>:last-child{
        flex-wrap: wrap;
    }

    #accesor,#aquel,#cultos{
        width: 45% !important;
        margin: 1rem auto;
    }
}

@media (max-width:768px){
    #notisdestacadas{
        width: 90%;
    }
    #notisdestacadas>:last-child{
        flex-wrap: wrap;
    }
    #Nod,#Guaridas,#Detectives{
        width: 90%;
        height: 13rem;
        margin: 1rem auto;
    }
}

#catedestacadas{
    width: 65%;
    margin: 3rem auto;
}

#catedestacadas > :first-child{
    background: url(https://www.nosolorol.com/themes/nth_themanier/css/../img/ornamento-titulo-03.png) bottom right no-repeat;;
}

#catedestacadas>:last-child{
    display: flex;
    justify-content: space-between;
}

#accesor,#aquel,#cultos{
    width: 30%;
    height: 13rem;
}

#accesor{
    background-image: url(https://www.nosolorol.com/1478-home_default/pack-de-dados-vampiro-5-edicion.jpg);
    background-size: cover;
    background-position: center;
}

#aquel{
    background-image: url(https://i.blogs.es/806831/aquelarredefinitivainserto/1366_2000.jpg);
    background-size: cover;
    background-position: center;
}

#cultos{
    background-image: url(https://www.nosolorol.com/63/cultos-innombrables-papel.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width:768px){
    #catedestacadas{
        width: 90%;
    }

    #catedestacadas>:last-child{
        flex-wrap: wrap;
    }

    #accesor,#aquel,#cultos{
        width: 90%;
        margin: 1rem auto;
    }
}

#garantias{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 3rem auto;
    padding: 0.5rem;
    flex-wrap: wrap;
}

#garantias div{
    width: 16%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#garantias div>:nth-child(2){
    font-weight: bold;
}

@media(max-width:995px){
    #garantias div{
        width: 33%;
    }
}

@media (max-width:768px){
    #garantias{
        flex-wrap: wrap;
        width: 90%;
    }

    #garantias div{
        width: 48%;
    }
}

#descripcion{
    width: 65%;
    margin: 3rem auto;
    text-align: justify;
}

#descripcion:last-child{
    color:gray
}

@media (max-width:768px){
    #descripcion{
        width: 90%;
    }
}

#lista_categorias>ol>li:first-child{
    margin-top: 0px;
}

#lista_categorias ol, li a{
	text-align: center;
	list-style-type: none;
	color: #7F052A;
	text-decoration: none;
	font-size: large;
    font-family: 'Sofia', sans-serif;
    font-weight: bold;
}

#lista_categorias ol>li a:hover{
    text-decoration: underline;
    text-decoration-color: #7F052A;
}
#lista_categorias li{
	display: flex;
	justify-content: center;
	align-content: space-around;
    align-items: center;
    border: 1px solid #7F052A;
	margin: 3% auto;
	border-radius: 22px;
	padding: 2rem;
	width: 50%;
    height: 4rem;
    background-size: 20rem;
    background-repeat: no-repeat;
	background-position: left;
}

#lista_categorias a{
    font-family: 'Sofia Sans', sans-serif;
    font-size: large;
    font-weight: bold;
}

#lista_categorias ol{
	margin: 1rem auto;
	display: inline;
}

#accesorios{
    background-image: url(https://www.nosolorol.com/img/c/20-category_small.jpg);
}

#aquelarre{
    background-image: url(https://www.nosolorol.com/899-home_default/aquelarre-pantalla-del-dj-papel.jpg);
}

#blacksad{
    background-image: url(https://www.nosolorol.com/img/c/112-category_small.jpg);
}

#changeling{
    background-image: url(https://www.nosolorol.com/img/c/140-category_small.jpg);
}

#conbarba{
    background-image: url(https://www.nosolorol.com/img/c/102-category_small.jpg);
}

#fate{
    background-image: url(https://www.nosolorol.com/img/c/114-category_small.jpg);
}

#fl{
    background-image: url(https://www.nosolorol.com/img/c/154-category_small.jpg);
}

#resurgir{
    background-image: url(https://www.nosolorol.com/img/c/127-category_small.jpg);
}

#fragmentos{
    background-image: url(https://www.nosolorol.com/img/c/22-category_small.jpg);
}

#hitos{
    background-image: url(https://www.nosolorol.com/img/c/23-category_small.jpg);
}

@media (max-width:1339px){
    #lista_categorias a{
        color: antiquewhite;
    }

    #lista_categorias li{
        height: auto;
        background-size: cover;
    }
}

#unoticias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem auto;
}

#unoticias article{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    text-align: center;
    background-color: #7F052A;
    color: antiquewhite;
    margin: 1rem 0rem;
    border: 5px solid grey;
    border-radius: 9px;
}

#unoticias button{
    background: transparent;
    color: antiquewhite;
    width: 56%;
    border-radius: 5px;
    border: 2px solid antiquewhite;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-family: 'Sofia Sans', sans-serif;
    font-size: large;
}

#unoticias p:nth-child(2){
    font-family: 'Sofia Sans', sans-serif;
    font-size: large;
    font-weight: bold;
}

#unoticias p{
    font-family: 'Comfortaa', cursive;
    font-size: small;
}

@media (max-width:768px){
    #unoticias{
        justify-content: center;
    }

    #unoticias article{
        width: 80%;
    }
}

#cabecera,#quees,#manual{
    width: 75%;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
}

#cabecera p,#quees p,#manual p{
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

#cabecera img,#quees img, #manual img{
    width: 50%;
    margin: 0rem auto;
}

#packs{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1.5rem auto;
}

#packs h2{
    color: #673291;
}

#packs>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#packs article{
    width: 45%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#packs img{
    width: 90%;
    max-height: 70rem;
}

#packs>div article>p:nth-child(2){
    color: #d72282;
    font-weight: bold;
}

#packs p{
    font-family: 'Comfortaa', cursive;
}

#packs button{
    padding: 1rem;
    background: transparent;
    border: 2px solid #673291;
    border-radius: 10px;
}

#packs a{
    color: #af3398;
    font-family: 'Sofia Sans', sans-serif;
}

@media (max-width:865px){
    #cabecera img,#quees img, #manual img{
        width: 75%;
    }

    #packs>div{
        justify-content: center;
    }

    #packs article{
        width: 80%;
    }
}

#producto{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto;
    font-family: 'Comfortaa', cursive;
    flex-wrap: wrap;
}

#producto div{
    width: 45%;
}

#producto img{
    width: 100%;
}

#producto li{
    padding: 0.5rem;
}

#producto>div:last-child{
    margin-top:2rem;
}

#precio{
    text-align: center;
    color: #d72282;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: larger;
}

#producto button{
    padding: 1rem;
    background: transparent;
    border: 2px solid #673291;
    border-radius: 10px;
    color: #d72282;
    margin: 1rem auto;
    font-family: 'Sofia Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    display: block;
}

#descripack{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem auto;
}

#descripack div{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    height: auto;
    border: 2px solid #673291;
    padding: 1rem;
    border-radius: 15px;
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#descripack div>p:first-child{
    font-family: 'Sofia Sans', sans-serif;
    color: #af3398;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#descripack div>p:last-child{
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

@media (max-width:1087px){
    #producto{
        width: 80%;
    }

    #producto div{
        width: 90%;
        text-align: center;
        margin: 1rem auto;
    }

    #producto img{
        width: 100%;
    }

    #producto>div:last-child{
        margin-top: 0.5rem;
    }

    #descripack{
        justify-content: space-between;
        width: 80%;
    }

    #descripack div{
        width: 100%;
        margin: 1rem auto;
    }

    #descripack div>p:last-child{
        width: 53%;
    }

    #descripack div>p:first-child{
        text-align: left;
    }
}

.hadom{
    color: #673291;
}

footer{
    background-color: #7F052A;
    display: flex;
    justify-content: space-evenly;
    color:#bdbdbd;
}

footer>:first-child{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: larger;
    flex-wrap: wrap;
}


footer i{
    padding: 1rem;
}

footer>:last-child{
    padding: 0.5rem;
}

@media (max-width:768px){
    footer{
        text-align: center;
        justify-content: center;
    }

    footer>:first-child{
        padding: 0rem 1rem;
    }

    footer>:first-child>:first-child{
        width: 70%;
    }

    footer i{
        width: 30%;
    }
}
